@import "@/styles/mixins.scss";
@import "@/styles/responsive.scss";
@import "@/styles/variables.module.scss";
@import "@/styles/typography.scss";

.info {
  gap: 2rem;
  color: $color-greyscale-black;
  @include flexColumn;

  @include responsive($responsive-max-width, $width-tablet) {
    gap: 1.7rem;
  }

  @include responsive($responsive-max-width, $width-mobile) {
    gap: 0rem;
  }

  &__name {
    @include heading-two-semi-bold;
  }

  @include responsive($responsive-max-width, $width-mobile) {
    @include heading-three-semi-bold;
  }

  &__ratings {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__star {
    width: 2rem;

    @include responsive($responsive-max-width, $width-mobile) {
      width: 1.5rem;
    }
  }

  &__review {
    @include subtitle-one-medium;

    @include responsive($responsive-max-width, $width-mobile) {
      @include subtitle-two-medium;
    }
  }

  &__price {
    color: $color-greyscale-grey;
    @include subtitle-two-medium;

    @include responsive($responsive-max-width, $width-mobile) {
      @include body-one-regular;
    }
  }
}
