@import "@/styles/mixins.scss";
@import "@/styles/responsive.scss";
@import "@/styles/typography.scss";
@import "@/styles/variables.module.scss";

.details {
  gap: 2rem;
  @include flexColumn;

  @include responsive($responsive-max-width, $width-mobile) {
    gap: 1.3rem;
  }

  &__title {
    @include heading-two-medium;
    color: $color-greyscale-black;

    @include responsive($responsive-max-width, $width-mobile) {
      @include heading-three-semi-bold;
    }
  }

  &__desc {
    gap: 1rem;
    @include flexColumn;
    @include body-one-regular;

    @include responsive($responsive-max-width, $width-mobile) {
      @include body-two-regular;
    }
  }
}
