@import "@/styles/responsive.scss";
@import "@/styles/typography.scss";
@import "@/styles/variables.module.scss";

.button {
  border-radius: 0.5rem;
  width: 35.4rem;
  height: 5rem;
  border: none;
  @include button-one-bold;

  @include responsive($responsive-max-width, $width-mobile) {
    width: 25.8rem;
    height: 4rem;
    @include button-two-bold;
  }

  &__main {
    background-color: $color-primary-main;
    color: $color-greyscale-white;

    &--not-active {
      background-color: $color-greyscale-light;
    }
  }

  &__secondary {
    border: none;
  }

  &__outlined {
    border: 2px solid $color-primary-lighter;
  }

  &__image-with-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: $color-greyscale-white;
    background-color: $color-primary-main;

    @include button-one-bold;

    @include responsive($responsive-max-width, $width-mobile) {
      @include button-two-bold;
    }

    &--image {
      width: 3rem;
      height: 3rem;

      @include responsive($responsive-max-width, $width-mobile) {
        width: 2rem;
        height: 2rem;
      }
    }

    &--sec {
      padding: 5px;
      border: 2px solid $color-primary-lighter;
      color: $color-greyscale-black;
      background-color: transparent;

      @include responsive($responsive-max-width, $width-mobile) {
        border: 1px solid $color-primary-lighter;
      }
    }
  }
}
