@import "./variables.module";
@import "./responsive";

html {
  /* browser default font size is 16px, reset it to 10px for easy rel unit usage */
  font-size: 62.5%;
  // i'll be centering the body inside the browser for screen bigger than the defined
  // desktop width, so i want white to fill the remaining page
  background-color: $color-greyscale-white;
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  max-width: $width-desktop-max;
  margin: 0 auto;
  position: relative;
  color: $color-greyscale-grey;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
a,
.link {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.low-opacity {
  opacity: 0.5;
}

#modal {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#backdrop {
  position: relative;
  z-index: 99;
}
//************************************************//
// SOME MEDIA FOR WIDTH AND HEIGHT                //
//************************************************//

@media only screen and (max-width: 414px) and (max-height: 736px) {
  html {
    font-size: 60%;
  }
}

html {
  @include responsive($responsive-max-width, 375px) {
    font-size: 55%;
  }
}

@media only screen and (max-width: 320px) and (min-height: 500px) {
  html {
    font-size: 46%;
  }
}

// IPHONE 4 and earlier
@media only screen and (max-width: 320px) and (max-height: 480px) {
  html {
    font-size: 46.5%;
  }
}
