@import "./responsive.scss";
@import "./variables.module.scss";

@mixin sectionPadding {
  padding: 2.3rem 7.8rem;

  @include responsive($responsive-max-width, $width-tablet) {
    padding: 3.2rem 5.1rem;
  }

  // @include responsive($responsive-max-width, calc($width-mobile + 50px)) {
  @include responsive($responsive-max-width, $width-mobile) {
    padding: 1.5rem 1.6rem;
  }
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin sectionMarginTop {
  margin-top: 12rem;

  @include responsive($responsive-max-width, $width-tablet) {
    margin-top: 10rem;
  }

  @include responsive($responsive-max-width, $width-mobile) {
    margin-top: 8rem;
  }
}

@mixin homepageRoundedCtnSizeStyle {
  width: 30rem;
  height: 31rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-primary-lighter;

  @include responsive($responsive-max-width, $width-tablet) {
    width: 25rem;
    height: 29rem;
  }
}

@mixin homepageRoundedCtnStructure {
  display: flex;
  justify-content: space-between;

  @include responsive($responsive-max-width, $width-tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}

@mixin homepageRoundedCtnTabletStructure {
  @include responsive($responsive-max-width, $width-tablet) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@mixin hideScrollBar {
  // chrome, safari and opera
  &::-webkit-scrollbar {
    display: none;
  }

  // IE, edge, firefox
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
