$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

$color-primary-main: #004282;
$color-primary-light: #416282;
$color-primary-lighter: #828282;
$color-primary-dark: #003366;
$color-primary-darker: #202c45;
$color-greyscale-white: #fff;
$color-greyscale-black: #000;
$color-greyscale-grey: #808080;
$color-greyscale-light: #bfbfbf;
$color-greyscale-dark: #404040;

// $width-tablet-landscape: 1024px; <= width defined from UI
// $width-tablet-potrait: 768px; <= width defined from UI
// $width-mobile-big: 414px; <= width defined from UI
$width-desktop-max: 1512px;
$width-desktop-xlarge: 1440px;
$width-desktop-large: 1280px;
$width-tablet-landscape: 1200px;
$width-tablet-potrait: 800px;
// since the UI mobile is only considering iphone X for the available UI,
// i assume more devices might still be considered for future UIs, hence the name
$width-mobile-big: 600px;
$width-desktop: 1440px;
$width-tablet: 834px;
// $width-mobile: 320px;
$width-mobile: 400px;

$responsive-min-width: "MINIMUM WIDTH";
$responsive-max-width: "MAXIMUM WIDTH";

$responsive-min-height: "MINIMUM HEIGHT";
$responsive-max-height: "MAXIMUM HEIGHT";

:export {
  colorPrimaryMain: $color-primary-main;
  widthDesktop: $width-desktop;
  widthTablet: $width-tablet;
  widthMobile: $width-mobile;
}
