@import "@/styles/typography.scss";
@import "@/styles/responsive.scss";
@import "@/styles/variables.module.scss";

.icon-and-text {
  display: flex;
  gap: 1rem;
  align-items: center;

  &__icon {
    width: 2.5rem;
    height: auto;

    @include responsive($responsive-max-width, $width-mobile) {
      width: 2rem;
    }
  }

  &__text {
    @include body-one-regular;
  }
}
