@import "@/styles/variables.module.scss";
@import "@/styles/responsive.scss";

.header {
  background-image: linear-gradient(
    to bottom right,
    $color-primary-lighter,
    $color-greyscale-white
  );
  padding: 2.3rem 7.8rem;
  display: flex;
  flex-direction: column;
  gap: 6.3rem;

  @include responsive($responsive-max-width, $width-tablet) {
    padding: 3.2rem 5.1rem;
    gap: 5rem;
  }

  @include responsive($responsive-max-width, calc($width-mobile + 50px)) {
    padding: 1.5rem 1.6rem;
    gap: 3.5rem;
  }
}
