@import "@/styles/variables.module.scss";
@import "@/styles/responsive.scss";
@import "@/styles/mixins.scss";

.header {
  background-image: linear-gradient(
    to bottom right,
    $color-primary-lighter,
    $color-greyscale-white 50%
  );
  display: flex;
  flex-direction: column;
  gap: 6.3rem;

  @include sectionPadding;

  @include responsive($responsive-max-width, $width-tablet) {
    gap: 5rem;
  }

  @include responsive($responsive-max-width, calc($width-mobile + 50px)) {
    gap: 3.5rem;
  }
}
